<section class="headerTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <div class="logo">
                    <a href="/"><img src="img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="col-sm-7 flex flex-center">
                <div class="headerInfo">
                    <div class="hsingleInfo"><i class="fa fa-phone"></i>
                        <h6>Call us 24/7</h6>
                        <h3>372 56969 372</h3></div>
                    <div class="hsingleInfo"><i class="fa fa-map-marker"></i>
                        <h6>Narva</h6>
                        <h3>Tehase 6</h3></div>
                    <div class="hsingleInfo"><i class="fa fa-clock-o"></i>
                        <h6>Working Hours</h6>
                        <h3>10:00-21:00</h3></div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="sicialIcon">
                    <a class="fb" href="https://www.facebook.com/NarvaCQB"><i class="fa fa-facebook"></i></a>
                    <a class="gp" href="https://youtube.com/@dmitripersitski6065?si=cjISOSNzcDVww0bK"><i class="fa fa-youtube"></i></a>
                    <a class="tw" href="https://vk.com/narvacqb"><i class="fa fa-vk"></i></a>
                    <a class="tw" href="https://t.me/+xxISHNZT35phMDg0"><i class="fa fa-telegram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="slider">
    <div class="bslide d-flex img-fit-cover ai-flex-end">

        <div class="bslide__desc d-flex fd-column">
            <div class="bslide__cat"><%= config.header["before-title"] %></div>
            <h2 class="bslide__title"><%= config.header["title"] %></h2>
            <div class="bslide__subtitle"><%= config.header["after-title"] %></div>


            <div class="bslide__btns d-flex ai-flex-end">
                <a href="#rega" class="footer__btn btn"><%= config.header["button"] %></a>
            </div>
        </div>


        <video id="video_background" preload="auto" no-controls autoplay loop playsinline muted>
            <source src=<%= config.header["bg"] %> type='video/mp4'/>
        </video>

    </div>
</section>
<header class="header isSticky fixedHeader" id="header1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="mainNav">
                    <div class="mobileMenu"><span></span> <span></span> <span></span></div>
                    <ul id='rega'>
                        <li class="has-menu-items active"><a href="/">Главная</a>
                        <li><a href="shop.html">Правила</a></li>
                        <li><a href="shop.html">О нас</a></li>
                        <li class="has-menu-items" id='link'>
                            <a class='link-to-game' href="event">Object 3</a>
                            <label class='new-label' for="link">New</label>
                        </li>
<!--                        <li class="has-menu-items"><a href="/booking">Аренда</a></li>-->
<!--                        <li class="has-menu-items"><a href="/gallery">Галерея</a>-->
<!--                            <ul class="sub-menu">-->
<!--                                <li><a href="#">Regular</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li><a href="gallery-regular-2col.html">Column Two</a></li>-->
<!--                                        <li><a href="gallery-regular-3col.html">Column Three</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li><a href="#">Fullwidth</a>-->
<!--                                    <ul class="sub-menu">-->
<!--                                        <li><a href="gallery-fullwidth-2col.html">Column Two</a></li>-->
<!--                                        <li><a href="gallery-fullwidth-3col.html">Column Three</a></li>-->
<!--                                        <li><a href="gallery-fullwidth-4col.html">Column Four</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <!--<li class="has-menu-items"><a href="#">Ремонт</a></li>-->
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</header>