<header class="header isSticky fixedHeader" id="header1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="mainNav">
                    <div class="mobile-header">
                        <div class="mobileMenu"><span></span> <span></span> <span></span></div>
                    </div>
                    <ul>
                        <li><a href="/"><img src="/img/logo2.png" alt="" style="width: 75px; height: 50px;"></a></li>
                        <li class="<%= currentPath === '/profile' ? 'active' : '' %>">
                            <a href="/profile"><i class="fa fa-user"></i> Профиль</a>
                        </li>
                        <li class="<%= currentPath === '/' ? 'active' : '' %>"><a href="/">Главная</a></li>
                        <li class="<%= currentPath === '/rules' ? 'active' : '' %>"><a href="/">Правила</a></li>
                        <li class="<%= currentPath === '/open-games' ? 'active' : '' %>" id='link'>
                            <a class='link-to-game' href="open-games">Open Games</a>
                        </li>
                        <li class="<%= currentPath === '/event' ? 'active' : '' %>" id='link'>
                            <a class='link-to-game' href="event">Pine River's Story</a>
                        </li>
                        <% if (isAuthenticated) { %>
                        <li>
                            <button class="btn btn-danger logout-btn" onclick="logout()">
                                <i class="fa fa-sign-out"></i> Выйти
                            </button>
                        </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>