<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>Object</h1>
                        <h2 class="color_gray">2</h2>
                        <h2 class="color_white">game</h2>
                    </div>
                </div>
                <div class='lang-div'>
                    <h5><b>Наш канал в Телеграм:</b></h5>
                    <p><a style="color: #05b8fa;" href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>

                    <h5><b>Расписание:</b></h5>
                    <div style="color: white; font-weight: bold;">
                        <% for (let key in config.main.schedule) { %>
                            <p><%= config.main.schedule[key] %></p>
                        <% } %>
                    </div>

                    <h5><b>Сюжет:</b></h5>
                    <div style="color: white;">
                        <% for (let key in config.main.plot) { %>
                            <p><%= config.main.plot[key] %></p>
                        <% } %>
                    </div>

                    <p style="color: white; font-weight: bold;">Туториалы по созданию костюма для игры: </p>
                    <p><a href="https://youtube.com/@NuclearSnailStudios?feature=shared">Nuclear Snail Studios</a></p>

                    <h5><b>Правила и особенности игры:</b></h5>
                    <ol>
                        <% for (let key in config.main.rules) { %>
                            <li><%= config.main.rules[key] %></li>
                        <% } %>
                    </ol>
                </div>

            </div>
            <div class="col-md-4">
                <div class='quoteHeader getaquote' id='form-form'>
                    <h3 class="g-form__title g-form__title_main">Registration</h3>
                </div>
                <div class='quoteFooter getaquote'>
                    <form class="g-form" id="g-form-1" autocomplete="off">
                        <div class="g-form__inputs">
                            <input type='text' id="name" name="name" placeholder="Имя/Фамилия" required>
                            <input type='text' id="tel" name="phone" placeholder="Phone Number" required>
                            <input id="email" name="email" type="email" placeholder="email" required/>
                            <input type="text" name="nickname" placeholder="Позывной">
                            <textarea id="message" name="about-character" rows="10" placeholder="About your character (Optional)" data-lt-tmp-id="lt-324300" spellcheck="false" data-gramm="false"></textarea>
                            <fieldset name="team" class='form-fieldset'>
                                <label>Выберите фракцию:</label> <br>
                                <input type="radio" class="form-check-input" id="4gear" name="team" value="4gear" required>
                                <label class="form-check-label" for="4gear">4ая передача</label> <br>
                                <input type="radio" class="form-check-input" id="farmacempentic" name="team" value="farmacempentic" required>
                                <label class="form-check-label" for="farmacempentic">Фармацевтики</label>
                            </fieldset>

                            <fieldset name="payment-method" class='form-fieldset'>
                                <label for="payment-method">Payment:</label> <br>
                                <input type="radio" class="form-check-input" id="cash" name="payment-method"
                                       value="cash" required>
                                <label class="form-check-label" for="cash">Cash</label> <br/>
                                <input type="radio" class="form-check-input" id="bank-transfer" name="payment-method"
                                       value="bank-transfer" required>
                                <label class="form-check-label" for="bank-transfer">Bank</label>
                            </fieldset>
                            <label style=" color: white; " for="honeypot">Скоро разрабы догадаются отправлять инфу на мыло</label>
                            <label style=" text-decoration: line-through; ">12.03.24-10.04.24 - 30€</label>
                            <label style=" text-decoration: line-through; ">11.04.24-01.05.24 - 35€</label>
                            <label>02.05.24-23.05.24 - 40€</label>
                            <label>24.05.24-25.05.24 - 50€</label>

                            <input style=" visibility: hidden; height: 1px; " id="honeypot" type="text" name="honeypot"
                                   value="">
                            <input class="g-form__button" type="submit" id="q_submit" value="Send">
                            <br/>
                            <h3 class="g-form__title g-form__title_respond"></h3>
                            <div class="g-form__preloader"></div>
                        </div>
                    </form>
                    <script>
                        const restrictedTeam = "<%= restrictedTeam %>";
                        if (restrictedTeam) {
                            const radioButton = document.getElementById(restrictedTeam);
                            radioButton.disabled = true;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>