<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1><%= config.main.title["1"] %></h1>
                        <h2 class="color_gray"><%= config.main.title["2"] %></h2>
                        <h2 class="color_white"><%= config.main.title["3"] %></h2>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page">Расписание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Сюжет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Правила</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Фракции</a>
                    </li>
                </ul>
                <div class='event-content'>
                    <div class="event-main">
                        <h5><b>Наш канал в Телеграм:</b></h5>
                        <p><a style="color: #05b8fa;" href="https://t.me/+xxISHNZT35phMDg0">https://t.me/+xxISHNZT35phMDg0</a></p>

                        <h5><b>Расписание:</b></h5>
                        <div style="color: white; font-weight: bold;">
                            <% for (let key in config.main.schedule) { %>
                                <p><%= config.main.schedule[key] %></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="event-plot hidden">
                        <h5 class="text-white"><b>Сюжет:</b></h5>
                        <div>
                            <% for (let key in config.main.plot) { %>
                                <p><%= config.main.plot[key] %></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="event-rules hidden">
                        <%- include('rules.ejs')%>
                    </div>

                    <div class="event-other flex flex-col hidden">
                        <% for (let key in config.main.teams) { %>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#team-<%= config.main.teams[key]["id"]%>" aria-expanded="false" aria-controls="team-<%= config.main.teams[key]["id"]%>">
                                <%= config.main.teams[key]["name"]%>
                            </button>
                            <div class="collapse" id="team-<%= config.main.teams[key]["id"]%>">
                                <div class="card card-body">
                                    <%= config.main.teams[key]["description"]%>
                                </div>
                            </div>
                        <% } %>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class='quoteHeader getaquote' id='form-form'>
                    <h3 class="g-form__title g-form__title_main">Регистрация</h3>
                </div>
                <div class='quoteFooter getaquote'>
                    <form class="g-form" id="g-form-1" autocomplete="off">
                        <div class="g-form__inputs">
                            <input type='text' id="name" name="name" placeholder="Имя / Фамилия" required>
                            <input type='text' id="tel" name="phone" placeholder="Номер телефона" required>
                            <input id="email" name="email" type="email" placeholder="Эмайл" required/>
                            <textarea style="margin-bottom: 0" id="social" name="social" type="text" placeholder="Ссылка на вашу любую соц сеть (для связи)" required></textarea>
                            <input id="age" name="age" type="number" placeholder="Введите ваш возраст" required/>
                            <input type="text" name="nickname" placeholder="Имя персонажа" required>
                            <textarea id="message" name="about-character" rows="10" placeholder="О вашем персонаже (опционально)" data-lt-tmp-id="lt-324300" spellcheck="false" data-gramm="false"></textarea>
                            <fieldset name="team" class='form-fieldset'>
                                <label class="text-white">Выберите фракцию:</label><br>

                                <p class="team-restriction">В данный момент у 4ой передачи перевес в 3 или более человека</p>

                                <input type="radio" class="form-check-input" id="4gear" name="team" value="4gear" required disabled>
                                <label class="form-check-label" for="4gear">4ая передача</label> <br>

                                <input type="radio" class="form-check-input" id="farmacempentic" name="team" value="farmacempentic" required>
                                <label class="form-check-label" for="farmacempentic">Фарма серпентика</label> <br>

                                <input type="radio" class="form-check-input" id="neutral" name="team" value="neutral" required>
                                <label class="form-check-label" for="neutral">Нейтралы</label> <br>

                                <input type="radio" class="form-check-input" id="cultist" name="cultist" value="cultist" disabled>
                                <label class="form-check-label" for="cultist">Культисты</label> <br>

                                <input type="radio" class="form-check-input" id="traders" name="traders" value="traders" disabled>
                                <label class="form-check-label" for="traders">Работорговцы</label>

                            </fieldset>
                            <br>
                            <label class="text-white" for="honeypot">Оплата производится через банк. Счет будет отправлен на указанный эмайл</label>
                            <input style=" visibility: hidden; height: 1px; " id="honeypot" type="text" name="honeypot" value="">
                            <%
                            const today = new Date();
                            config.main["dates-prices"].forEach(item => {
                                const array = item.split('-');
                                const endDateParts = array[1].split('.');
                                const endDate = new Date(`20${endDateParts[2]}-${endDateParts[1]}-${endDateParts[0]}`);
                                const price = array[2];

                            if (endDate < today) {
                            %>
                                <label style="text-decoration: line-through;">
                                    <%= array[0] %> - <%= array[1] %> - <%= price %>€
                                </label><br>
                            <%
                            } else {
                            %>
                                <label>
                                    <%= array[0] %> - <%= array[1] %> - <%= price %>€
                                </label><br>
                            <%
                            }
                            });
                            %>
                            <br>
                            <input class="g-form__button" type="submit" id="q_submit" value="Send">
                            <br/>
                            <h3 class="g-form__title g-form__title_respond"></h3>
                            <div class="g-form__preloader"></div>
                        </div>
                    </form>
                    <script>
                        const restrictedTeam = "<%= restrictedTeam %>";
                        const teamText = document.querySelector(".team-restriction");
                        const today = new Date();

                        if (restrictedTeam) {
                            const radioButton = document.getElementById(restrictedTeam);
                            radioButton.disabled = true;
                            teamText.textContent = `В команде ${restrictedTeam} перевес в 3 или больше человека.`
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/script.js"></script>