<%- contentFor('customCSS') %>
<link rel="stylesheet" href="/css/open-games.css">

<%- include('../partials/header.ejs') %>
<section class="commonSection wearebest">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="sectionTitle border">
                    <div class="titleHead">
                        <h1>OPEN</h1>
                        <h2 class="color_white">GAMES</h2>
                    </div>
                </div>
                <h5 class="text-white">Открытая игра <%= new Date(new Date().setDate(new Date().getDate() + (6 - new Date().getDay() + 7) % 7)).toLocaleDateString('ru-RU') %> на территории NarvaCQB</h5>

                <p>⏰Сбор в <%= config.schedule.arrivalTime %> по адресу Tehase 6 (Перед главными воротами)</p>
                <p>⏰ Брифинг <%= config.schedule.briefingTime %></p>
                <p>⏰ Старт <%= config.schedule.startTime %></p>
                <p>⏰ Примерное окончание <%= config.schedule.endTime %></p>
                <p>💶Стоимость участия:</p>
                <p>- 15€ со своим снаряжением</p>
                <p>- 25€ с арендной экипировкой</p>
                <p>- 35€ абонемент (месяц) со своим снаряжением</p>
                <p>- 45€ абонемент (месяц) с арендной экипировкой</p>

                <p>Берите с собой фонарики!</p>

                <p>🚫Возрастные ограничения 16+. <16 лет- с присутствием родителя или опекуна</p>

                <p>Инициалы для перевода: <br> EE291010220279349223 <br> V&V TRADE OÜ</p>

                <p>❓Вопросы? Свяжитесь с нами!</p>

                <p>📞 Для дополнительной информации свяжитесь с нашими организаторами: <br> +372 58135368 (Илья) <br> +372 56969372 (Дмитрий).</p>
            </div>
            <div class="col-md-4" id="rega">
                <div class='quoteHeader getaquote' id='form-form'>
                    <h3 class="g-form__title g-form__title_main">Регистрация</h3>
                </div>
                <div class='quoteFooter getaquote'>
                    <button class="user-register-btn g-form__button">
                        <i class="fa fa-user-plus"></i> Зарегистрироваться как пользователь
                    </button>
                    <form class="g-form" id="g-form-1" autocomplete="off">
                        <p>Или зарегистрируйтесь как гость ниже:</p>
                        <div class="g-form__inputs">
                            <input type='text' id="name" name="name" placeholder="Имя / Фамилия" required>
                            <input type='text' id="tel" name="phone" placeholder="Номер телефона" required>
                            <input id="email" name="email" type="email" placeholder="Эмайл" required/>
                            <input id="age" name="age" type="number" placeholder="Введите ваш возраст" required/>
                            <br>
                            <fieldset name="team" class='form-fieldset payment-fieldset'>
                                <label class="text-white">Оплата:</label>
                                <div class="payment-options">
                                    <div class="payment-option">
                                        <input type="radio" class="form-check-input" id="bank-transfer" name="payment" value="bank-transfer" required>
                                        <label class="form-check-label" for="bank-transfer">Перевод</label>
                                    </div>
                                    <div class="payment-option">
                                        <input type="radio" class="form-check-input" id="cash" name="payment" value="cash" required>
                                        <label class="form-check-label" for="cash">Наличные</label>
                                    </div>
                                </div>
                                <div class="transfer-details" style="display: none;">
                                    <div class="bank-info">
                                        <div class="copy-field">
                                            <span>Инициалы для перевода:</span>
                                        </div>
                                        <div class="copy-field">
                                            <span>EE291010220279349223</span>
                                            <button type="button" class="copy-btn" onclick="copyToClipboard(this)">
                                                <i class="fa fa-copy"></i> Copy
                                            </button>
                                        </div>
                                        <div class="copy-field">
                                            <span>V&V TRADE OÜ</span>
                                            <button type="button" class="copy-btn" onclick="copyToClipboard(this)">
                                                <i class="fa fa-copy"></i> Copy
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <label class="text-white" for="honeypot">Вам придет письмо на эмайл о регистрации</label>
                            <input style="visibility: hidden; height: 1px;" id="honeypot" type="text" name="honeypot" value="">
                            <br>
                            <input class="g-form__button" type="submit" id="q_submit" value="Send">
                            <br/>
                            <h3 class="g-form__title g-form__title_respond"></h3>
                            <div class="g-form__preloader"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- contentFor('customJS') %>
<script src="js/open-games.js"></script>