<%
const convertToISODate = (date) => {
    const [day, month, year] = date.split('.');
    return `${year}-${month}-${day}`;
};
%>

<%- contentFor('customCSS') %>
<link rel="stylesheet" href="css/update-event.css">

<section class="commonSection wearebest" id="update-event">
    <div class="container">
        <div class="row">
            <h4>Обновление Ивента</h4>
        </div>
        <div class="row">
            <form action="">
                <!-- Основная информация -->
                <div class="mb-20">
                    <h6>Главное:</h6>
                    <div class="update-event-field">
                        <label for="event-title">Название</label>
                        <input id="event-title" type="text" value="<%= event.header.title || '' %>">
                    </div>

                    <div class="update-event-field">
                        <label for="event-date">Дата</label>
                        <input id="event-date" type="date" value="<%= convertToISODate(event.header["after-title"]) || '' %>">
                    </div>
                </div>

                <!--Задний фон-->
                <div class="mb-20">
                    <h6>Задний фон (Можно drag and drop):</h6>
                    <div class="d-flex flex-row align-items-center gap-5">
                        <input
                                class="form-check-input"
                                type="radio"
                                value="image"
                                id="event-image"
                                name="bg-type"
                                <% if (event.header.type === "image") { %>checked<% } %>>
                        <label class="form-check-label" for="event-image">Картинка</label>
                        <input id="event-image-file" type="file" value="<%= event.header.bg.split("/")[-1]%>">
                    </div>

                    <div class="d-flex flex-row align-items-center gap-5">
                        <input
                                type="radio"
                                value="video"
                                id="event-video"
                                name="bg-type"
                                <% if (event.header.type === "video") { %>checked<% } %>>
                        <label for="event-video">Видео</label>
                        <input id="event-video-file" type="file">
                    </div>
                </div>

                <!-- Расписание -->
                <h6>Расписание:</h6>
                <div class="d-flex flex-row align-items-center gap-5 mb-20">
                    <label for="event-arrival">Заезд:</label>
                    <input id="event-arrival" type="time" value="<%= event.schedule.arrival || '' %>">

                    <label for="event-briefing">Брифинг:</label>
                    <input id="event-briefing" type="time" value="<%= event.schedule.briefing || '' %>">

                    <label for="event-start">Старт игры:</label>
                    <input id="event-start" type="time" value="<%= event.schedule.start || '' %>">

                    <label for="event-end">Конец игры:</label>
                    <input id="event-end" type="time" value="<%= event.schedule.end || '' %>">

                    <label for="event-afterparty">Афтер-пати:</label>
                    <input id="event-afterparty" type="time" value="<%= event.schedule.afterparty || '' %>">
                </div>

                <!-- Сюжет -->
                <div class="update-event-field mb-20">
                    <h6>Сюжет:</h6>
                    <textarea id="event-story" rows="5" placeholder="Опишите сюжет ивента..."><%= event.story || '' %></textarea>
                </div>

                <!-- Правила -->
                <div class="mb-20">
                    <h6>Правила:</h6>
                    <div id="rules-list" class="mb-20">
                        <% for (const ruleTitle in event.rules) { %>
                            <div class="rule-list-item mb-20" id="rule-list-item-<%= ruleTitle %>">
                                <label for="rule-title-<%= ruleTitle %>">Название списка правил</label>
                                <input id="rule-title-<%= ruleTitle %>" type="text" value="<%= ruleTitle %>" placeholder="Название списка правил">
                                <div class="rule-items d-flex flex-col mb-20">
                                    <% event.rules[ruleTitle].forEach(function(ruleItem, itemIndex) { %>
                                        <label for="rule-item-<%= ruleTitle %>-<%= itemIndex %>">Правило <%= itemIndex + 1 %></label>
                                        <div class="input-item">
                                            <input class="rule-input" id="rule-item-<%= ruleTitle %>-<%= itemIndex %>" type="text" value="<%= ruleItem %>" placeholder="Текст правила">
                                            <span class="remove-item" onclick="removeRuleItem('<%= ruleTitle %>', <%= itemIndex %>)" title="Удалить правило">&times;</span>
                                        </div>
                                    <% }); %>
                                </div>
                                <button type="button" onclick="addRuleItem('<%= ruleTitle %>')">Добавить правило</button>
                                <button class="remove-item-btn" onclick="removeRuleList('<%= ruleTitle %>')" title="Удалить список правил">Удалить список</button>
                            </div>
                        <% } %>
                    </div>
                    <button type="button" onclick="addRuleList()">Добавить список правил</button>
                </div>

                <!-- Команды -->
                <div class="mb-20">
                    <h6>Команды:</h6>
                    <label for="team-restriction">Ограничение по командам:</label>
                    <input id="team-restriction" type="number" value="<%= event.teamrestriction || '' %>">
                    <div id="teams-list" class="d-flex flex-col mb-20">
                        <% event.teams.forEach(function(team, teamIndex) { %>
                            <div class="team-list-item" id="team-list-item-<%= teamIndex %>">
                                <label for="team-id-<%= teamIndex %>">id команды</label>
                                <input id="team-id-<%= teamIndex %>" type="text" value="<%= team.id %>" placeholder="id команды">
                                <label for="team-name-<%= teamIndex %>">Название команды</label>
                                <input id="team-name-<%= teamIndex %>" type="text" value="<%= team.name %>" placeholder="Название команды">
                                <label for="team-description-<%= teamIndex %>">Описание</label>
                                <textarea id="team-description-<%= teamIndex %>" rows="1" placeholder="Описание команды..."><%= team.description %></textarea>
                                <input class="form-check-input" type="checkbox" value="" id="disable-team-<%= team.id %>" <%if(team.isDisabled) {%> checked <%}%>>
                                <label class="form-check-label" for="disable-team-<%= team.id %>">
                                    Закрыть команду
                                </label>
                                <span class="remove-item" onclick="removeTeam(<%= teamIndex %>)" title="Удалить команду">&times;</span>
                            </div>
                        <% }); %>
                    </div>
                    <button type="button" onclick="addTeam()">Добавить команду</button>
                </div>

                <!--Оплата-->
                <h6>Цена:</h6>
                <div class="mb-20">
                    <p class="text-white">Ниже надо ввести с какой даты до какую дату какая цена действует</p>
                    <% event["dates-prices"].forEach((datePrice, index) => {
                        const [fromDate, tillDate, price] = datePrice.split('-');

                        const validFromDate = convertToISODate(fromDate);
                        const validTillDate = convertToISODate(tillDate);
                    %>
                    <div class="d-flex flex-row mb-20 gap-5 pricing-section">
                        <label for="from-date<%= index + 1 %>">С даты:</label>
                        <input id="from-date<%= index + 1 %>" type="date" value="<%= validFromDate %>">

                        <label for="till-date<%= index + 1 %>">По дату:</label>
                        <input id="till-date<%= index + 1 %>" type="date" value="<%= validTillDate %>">

                        <label for="price<%= index + 1 %>">Цена</label>
                        <input id="price<%= index + 1 %>" type="number" value="<%= price %>">
                    </div>
                    <% }); %>
                </div>

                <div class="mb-20">
                    <h6>Пароль:</h6>
                    <p class="text-white">Чтобы сохранить изменения введите пароль</p>
                    <input type="password" id="update-password">
                </div>

                <button type="submit">Сохранить</button>
                <p id="text-handler"></p>
            </form>
        </div>
    </div>

    <input type="hidden" id="hidden-rule-data" value='<%= JSON.stringify(event.rules) %>'>
    <input type="hidden" id="hidden-team-data" value='<%= JSON.stringify(event.teams) %>'>

</section>

<%- contentFor('customJS') %>
<script src="/js/update-event-page.js"></script>